.c-article{

    display: flex;
    flex-direction: row;
    gap: 50px;

    justify-content: space-between;

    &--void{
        width: 70vw;
    }

    &__img{
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    &__name{
        font-family: 'Libre Baskerville', serif;
        font-weight: 700;
        font-size: 18pt;   
    }

    &__info{
        width: 400px;
    }

    &__options{
        width: 100px;
    }

    &__description{
        font-family: 'Nunito', sans-serif;
        font-size: 18px;
    }

    &__quantity{
        display: flex;
        gap: 30px;
        align-items: center;
    }

    &__price{
        font-weight: 700;
        font-size: 18pt;
    }

    &__options{
        text-align: right;
    }

    &__category{
        font-family: 'Nunito', sans-serif;
        color: getColor("principal",1);
        font-weight: 600;

    }

    &__price{
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
        font-size: 26px;
    }


}