.c-button{
    cursor: pointer;
    text-decoration: none;
    user-select: none;
    outline: none;
    border: 0px;

   

    font-family: 'Nunito', sans-serif;
    font-weight: getFontWeight(7);

    transition: all 0.3s ease;

    &--add-cart{
        background-color: getColor("principal",4);
        padding: 10px 20px;
        color: getColor("negro",5);
        border-radius: 6px;
        display: inline-block;
        margin-top: auto;

        &-mini{
            background-color: getColor("principal",4);
            padding: 10px 20px;
            color: getColor("negro",5);
            border-radius: 6px;
            font-size: 14px;
        }
    }


    &--add-cart:hover{
        background-color: getColor("principal",3);
    }

    &--quantity{
        border-radius: 50%;
        padding: 10px 14px;
        background-color: getColor("principal",4);
        color: getColor("blanco",8);
        margin: auto;
    }


    &--quantity:hover{
        background-color: getColor("principal",3);
    }


    &--remove{
        color: getColor("rojo",3);
    }

    &--buy{
        background-color: getColor("principal",4);
        padding: 10px 20px;
        color: getColor("negro",5);
        border-radius: 6px;
    }

    &--pay{
        padding: 10px 14px;
        background-color: getColor("principal",4);
        color: getColor("negro",5);
        border-radius: 6px;
        display: inline-block;
    }

    &--delete{
        padding: 10px 14px;
        background-color: getColor("rojo",7);
        color: getColor("negro",8   );
        border-radius: 6px;
        display: inline-block;

    }

    &--newsletter{
        padding: 10px 14px;
        background-color: getColor("principal",3);
        color: getColor("verde", 2);
        border-radius: 0px;
    }

    &--login{
        padding: 10px 40px;
        background-color: getColor("principal",4);
        color: getColor("negro", 5);
        border-radius: 4px;
    }
    
    &--pagar{
        background-color: getColor("principal", 4);
        padding: 10px 20px;
        margin-top: 10px;
        color: getColor("negro", 5);
        border-radius: 4px;
    }
    
}

