.c-card {
    background-color: getColor("blanco", 8);
    border-radius: 10px;


    display: flex;
    flex-direction: column;

    @include box-shadow(5);

    &__img {
        height: 240px;
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    &__body{
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__name {
        font-family: 'Libre Baskerville', serif;
        font-weight: 700;
        font-size: 20px;
        //font-family: 'Nunito', sans-serif;
        //font-family: 'Oswald', sans-serif;
    }

    &__description {
        font-family: 'Nunito', sans-serif;
        font-size: 16px;
        height: 90px;
        
    }

    &__price {
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
        font-size: 26px;
    }

    &__btn {
        display: block;
        margin-left: auto;
        margin-top: auto;
    }

    &__category{
        font-family: 'Nunito', sans-serif;
        font-weight: 600;
        color: getColor("principal", 1);

    }
}