.c-category{

    display: flex;
    align-items: center;
    gap: getGap(14);
    justify-content: center;

    padding-left: getPadding(17);
    padding-right: getPadding(17);
    padding-top: getPadding(6);
    padding-bottom: getPadding(6);

    color: getColor("negro",5);

    background-color: getColor("principal",4);

    font-family: 'Libre Baskerville', serif;
    font-size: 18px;

    &__item{
        cursor: pointer;
        user-select: none;

        border-bottom: 2px solid getColor("principal",4);
        border-top: 2px solid getColor("principal",4);
    }

    &__item:hover{
       border-bottom: 2px solid getColor("negro",5);
    }
}

