.c-compromiso{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: flex-start;

    width: 500px;
   
    gap: 16px;
     
    &__item{
       display: flex;
       gap: 10px;
       align-items: center;
       width: 240px;

       font-family: 'Nunito', sans-serif;
       font-size: 14px;
       font-weight: 600;

    }

    &__header{
        width: 100%;
        font-family: 'Libre Baskerville', serif;
        font-size: 16px;
        font-weight: 700;
    }
                
}