.c-footer{

    display: flex;
    flex-direction: column;

    gap: getGap(5);
    padding: getPadding(4);

    margin-top: getMargin(5);
    padding-left: getPadding(17);
    padding-right: getPadding(17);
    background-color: getColor("principal", 5);




   

}