.c-img{

    &--banner{
        &-horizontal{
            width: 100%;
            max-height: 520px;
            border-radius: 4px;
            object-fit: cover;
        }
        &-vertical{
            height: 500px;
            width: 350px;
            object-fit: cover;
            border-radius: 4px;
        }
       
    }

    &--logo{
        width: 250px;
        cursor: pointer;
    }

    &--login{
        width: 200px;
    }


    @each $key, $size in $icon-sizes{
        &--icon-#{$key}{
            width: $size;
        }
    }
   
}