.c-img{
    //a rellenar
    &__cerrar{
        width: 20px;
        margin-left: auto;
    }
    &__articulo{
        width: 150px;
    }
    &__tarjetas{
        width: 200px;
    }

    &--banner-3{
        height: 500px;
        width: 350px;
        object-fit: cover;
        border-radius: 4px;
    }
}