.c-icon{
    width: 30px;  
    
    &__visa {
        width: 30px;
        margin-left: getMargin(1);
        margin-right: getMargin(4);
    }

    &__mastercard {
        width: 30px;
        margin-left: getMargin(1);
    }
}