.c-img{

    &__cerrar{
        width: 20px;
        margin-left: auto;
    }
    &__articulo{
        width: 150px;
    }
    &__tarjetas{
        width: 200px;
    }

    &--banner{
        &-horizontal{
            width: 100%;
            max-height: 520px;
            border-radius: 4px;
            object-fit: cover;
        }
        &-vertical{
            height: 500px;
            width: 350px;
            object-fit: cover;
            border-radius: 4px;
        }
       
    }


    &--logo{
        width: 250px;
        cursor: pointer;
    }


    @each $key, $size in $icon-sizes{
        &--icon-#{$key}{
            width: $size;
        }
    }
   
}