.c-list{
    
    margin-left: auto;
    width: 240px;

    display: flex;
    flex-direction: column;
    align-content: flex-end;
   
   
    &__header{
        font-family: 'Libre Baskerville', serif;
        font-size: getFontSize("m");
        font-weight: getFontWeight(6);
        margin-bottom: getMargin(6);
    }

    &__subheader{
        font-family: 'Libre Baskerville', serif;
        font-size: getFontSize("m");
        font-weight: getFontWeight(7);
        margin-bottom: getMargin(6);
        margin-top: getMargin(6);
    }

    &__item{
        margin-top: getMargin(3);
        cursor: pointer;
        font-family: 'Nunito', sans-serif;
        font-size: getFontSize("s");
        font-weight: getFontWeight(6);
       
    }

    &__item:hover{
        text-decoration: underline;
    }

}