.c-login {

    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 400px;
    gap: getGap(8);
    padding-bottom: getPadding(5);
  

    &__body{
        display: flex;
        flex-direction: column;
        gap: getGap(7);
        width: 80%;
    }

    &__input{
        display: flex;
        flex-direction: column;
      
    }

    &__label{
        font-family: 'Libre Baskerville', serif;
        font-weight: 700;
        font-size: getFontSize("m");
        color: getColor("negro", 5);
    }

    &__img{
        width: 200px;
    }

   
}