.c-newsletter{

    width: 500px;
    display: flex;
    flex-direction: column;
    gap: getGap(5);


    &__title{
        font-family: 'Libre Baskerville', serif;
        font-size: 18px;
        font-weight: 700;
    }

    &__description{
        font-family: 'Nunito', sans-serif;
        font-size: 14px;
    }

    &__input{
        background-color: getColor("principal",3);
        color: getColor("principal", 8);
        font-family: 'Nunito', sans-serif;
        font-size: 14px;    
        border: 0;
        height: 100%;
        outline: none;
        padding: 0px 20px;
        width: 260px;
    }

    &__input::placeholder{
        color: getColor("verde", 2);
        font-weight: 600;
    }

}