.c-newsletter{

    width: 500px;
    display: flex;
    flex-direction: column;
    gap: getGap(5);


    &__title{
        font-family: 'Libre Baskerville', serif;
        font-size: 18px;
        font-weight: 700;
    }

    &__description{
        font-family: 'Nunito', sans-serif;
        font-size: 14px;
    }

}