.c-preview{
    display: flex;
    flex-direction: row;

    gap: getGap(7);

    font-family: 'Poppins', sans-serif;
  
    &__img{
        width: 400px;
        height: 400px;
        object-fit: cover;
        border-radius: getBorderRadiusSize(2);
    }

    &__name{
        font-family: 'Libre Baskerville', serif;
        font-weight: getFontWeight(7);
        font-size: getFontSize("3xl"); //28px;
    }

    &__description {
        font-family: 'Nunito', sans-serif;
        font-size: getFontSize("l");
    }

    &__category{
        font-family: 'Nunito', sans-serif;
        font-size: getFontSize("l");
        font-weight: getFontWeight(5);
        color: getColor("principal", 1);
    }

    &__price{
        font-family: 'Nunito', sans-serif;
        font-weight: getFontWeight(7);
        font-size: getFontSize("2xl"); //26px;
    }

    &__body{
        display: flex;
        flex-direction: column;
        gap: getGap(5);
        width: 400px;
        height: 400px;
        overflow-y: auto; 
        padding-right: getPadding(9);   
    }

    &__refs{
        display: flex;
        justify-content: space-between;
        border-bottom: getBorderSize(1) solid getColor("negro", 1);
        font-family: 'Nunito', sans-serif;
        font-size: getFontSize("xl");
    }

    &__quantity{
        margin-top: auto;
    }

    &__company{
        font-family: 'Nunito', sans-serif;
        font-size: getFontSize("xs");
        font-weight: getFontWeight(8);
    }

}