.c-panel{
    display: flex;
    flex-direction: column;
    background-color: getColor("blanco",8);
    border-radius: getBorderRadius(1);
    @include box-shadow(6);

    height: 100%;

    &__img{
        height: 210px;
        object-fit: cover;
    }

    &__body{
        padding: getPadding(4);
    }

    &__small-title{
        color: getColor("gris",1);
        font-size: getFontSize("m");
        font-weight: getFontWeight(6);
    }

    &__title{
        font-size: getFontSize("xl");
        font-weight: getFontWeight(8);
    }

    &__extra{
        color: getColor("turquesa", 4);
    }


}




