.c-product-preview{
    display: flex;
    flex-direction: row;

    gap: 16px;

    font-family: 'Poppins', sans-serif;


    &__img{
        width: 400px;
        height: 400px;
        object-fit: cover;
    }

    &__name{
        font-family: 'Libre Baskerville', serif;
        font-weight: 700;
        font-size: 28px;
    }

    &__description {
        font-family: 'Nunito', sans-serif;
        font-size: 18px;
    }

    &__category{
        font-family: 'Nunito', sans-serif;
        font-size: 18px;
        font-weight: 500;
        color: getColor("principal", 1);
    }

    &__price{
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
        font-size: 26px;
    }

    &__body{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 400px;       
    }

}