.l-grid {
  display: grid;
  width: 100%;

  &--columns-auto {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }


  @for $i from 1 to 9 {
    &--columns-#{$i} {
      grid-template-columns: repeat($i, 1fr);
    }
  }

  @each $gap in getGapKeys() {
    &--gap-#{$gap} {
      gap: getGap($gap);
    }

    &--horizontal-gap-#{$gap} {
      row-gap: getGap($gap);
    }

    &--vertical-gap-#{$gap} {
      column-gap: getGap($gap);
    }
  }

}
