@import
'01_utilities/functions',
'01_utilities/mixins',
'01_utilities/variables';

@import
'02_base/reset';

@import
'03_layout/l-grid',
'03_layout/l-flex';

@import 
'04_components/c-button',
'04_components/c-modal',
'04_components/c-table',
'04_components/c-article',
'04_components/c-preview',
'04_components/c-menu',
'04_components/c-card',
'04_components/c-title',
'04_components/c-formulario',
'04_components/c-img',
'04_components/c-category',
'04_components/c-footer',
'04_components/c-list',
'04_components/c-entry',
'04_components/c-compromiso',
'04_components/c-newsletter',
'04_components/c-product',
'04_components/c-header',
'04_components/c-input';

@import
'06_global/g--background-color',
'06_global/g--color',
'06_global/g--border-color',
'06_global/g--border-radius',
'06_global/g--padding',
'06_global/g--margin',
'06_global/g--font-size',
'06_global/g--shadow',
'06_global/g--clear--list',
'06_global/g--oculto',
'06_global/g--margin-horizontal-auto';

//sass --watch  .\scss\main.scss .\css\main.css
//CTRL + SPACE asistente 